{% load i18n %}

{% if latest_content_list %}
    {% for content in latest_content_list %}
        {%include content.summary_view %}
    {% endfor %}
    <div id="bottom-navigation-bar">
        <a class="olderPosts"
           href="{{current_url}}?page={{nextpage}}">{% blocktrans %}Older posts{% endblocktrans %}</a>
    </div>
{% else %}
    <div id="bottom-navigation-bar">
        <span class="veryBeginning">{% blocktrans %}It was the very beginning of this wall{% endblocktrans %}</span>
    </div>
{% endif %}

