{# Here's where we add the share / like links #}
{% load i18n %}

{% with content.likes as likes %}
    {% if not likes.i_like %}
        <li class="i_like"
            id="toggle_like_{{ content.id }}">
            <a class="toggle_like"
               href="#">{% blocktrans %}I like{% endblocktrans %}</a>
        </li>
    {% else %}
        <li class="i_unlike"
            id="toggle_like_{{ content.id }}">
            <a class="toggle_like"
               href="#">{% blocktrans %}I don't like{% endblocktrans %}</a>
        </li>
    {% endif %}

    {% with likes.n_likes as n_likes %}
        {% if n_likes %}
            <li class="n_likes">
                {% blocktrans %}{{ n_likes }} like this{% endblocktrans %}
            </li>
        {% endif %}
    {% endwith %}

{% endwith %}



