{# Here's where we add the share / like links #}
{% load i18n %}

{% with content.likes as likes %}
    {% with likes.n_likes as n_likes %}
    {% with likes.op_likes as op_likes %}
        {% if n_likes %}
                <li class="f_likes">
                    <div class="close">&nbsp;</div>
                    {% autoescape off %}
                      {% for featured in likes.featured %}
                         {{ featured.html_link }}
                      {% endfor %}
                    {% endautoescape %}
                </li>
        {% endif %}
        {% if not likes.i_like %}
            <li class="i_like"
                id="toggle_like_{{ content.id }}">
                <a class="toggle_like"
                   href="#">{% blocktrans %}I like{% endblocktrans %}</a>
            </li>
            {% if n_likes %}
                <li class="n_likes">
                    {% blocktrans %}{{ n_likes }} people like this{% endblocktrans %}
                </li>
            {% else %}
                <li>&nbsp;</li>
            {% endif %}
        {% else %}
            <li class="i_unlike"
                id="toggle_like_{{ content.id }}">
                <a class="toggle_like"
                   href="#">{% blocktrans %}I don't like{% endblocktrans %}</a>
            </li>
            {% if op_likes %}
                <li class="n_likes">
                    {% blocktrans %}You and {{ op_likes }} people like this{% endblocktrans %}
                </li>
            {% else %}
                <li class="n_likes">
                    {% blocktrans %}You like this{% endblocktrans %}
                </li>
            {% endif %}
        {% endif %}
    {% endwith %}
    {% endwith %}
{% endwith %}



