{# Here's where we add the share / like links #}
{% load i18n %}

{% with content.likes as likes %}
    {% if not likes.i_like %}
        <li class="i_like">
            I like
        </li>
    {% else %}
        <li class="i_unlike">
            I don't like
        </li>
    {% endif %}

    {% with likes.n_likes as n_likes %}
        {% if n_likes %}
            <li class="n_likes">
                {# TODO : Use the featured 'likers' as hover information #}
                {% blocktrans %}{{ likes.n_likes }} like this{% endblocktrans %}
            </li>
        {% endif %}
    {% endwith %}

{% endwith %}



