{% extends "base.html" %}
{% load i18n %}
{% load wiki %}

{% block local_headers %}
    {% for form in content_forms %}
        {{ form.media }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% if community.description %}
        <p class="discreet">
            {{ community.description|fullwiki }}
        </p>
    {% endif %}

    {% include "content/content_forms.part.html" %}

    {% for content in latest_content_list %}
        {%include content.object.summary_view %}
    {% endfor %}
    

{% endblock %}
