/* tn_menu_builder.css
** inspired from wp-admin > navmenu.css
** TODO : change / adapt everything
*/

#content {
  padding: 0 !important;
}

#menu-builder {
  display: table;
  margin: 15px 0;
}

#menu-management {
  position: relative;
  display: table-row;
}
#menu_edit_left {
  min-width: 200px;
  display: table-cell;
  padding-right: 20px;
  vertical-align: top;
}

#menu_edit_main {
  display: table-cell;
  min-width: 530px;
  vertical-align: top;
}

#menu_edit_main fieldset {
  background: transparent !important;
  margin: 0;
  padding: 0;
}

.menu {
  padding-top:1em;
}

#menu-to-edit {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.menu-item-transport {
  padding: 0;
  margin: 0 0 0 -30px;
  list-style: none outside none;
}

.menu ul {
  width: 100%;
}
.menu ul.sub-menu {
}
.menu li {
  margin-bottom: 0;
  position:relative;
}
.menu-item-bar {
  clear:both;
  line-height:1.5em;
  position:relative;
  margin: 0 0 7px;
}
.menu-item-handle {
  background: #E00023; /* old browsers */
  background: -moz-linear-gradient(left, #E00023 0%, #964350 51%, #513D40 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E00023), color-stop(51%,#964350), color-stop(100%,#513D40));
  color: white;
  position: relative;
  padding-left: 10px;
  height: auto;
  width: 350px;
  font-weight:bold;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  word-wrap: break-word;
}
.menu-item-edit-active .menu-item-handle {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.menu-item-handle {
  cursor: move;
}
.menu .deleting .menu-item-handle {
  background-color: #f66;
  background-image: none;
}

.menu-item-handle .item-title {
  padding: 7px 0;
  display:block;
  margin-right:13em;
}


/* WARNING: The factor of 30px is hardcoded into the nav-menus javascript. */
.menu-item-depth-0 { margin-left: 0px; }
.menu-item-depth-1 { margin-left: 30px; }
.menu-item-depth-2 { margin-left: 60px; }
.menu-item-depth-3 { margin-left: 90px; }
.menu-item-depth-4 { margin-left: 120px; }
.menu-item-depth-5 { margin-left: 150px; }
.menu-item-depth-6 { margin-left: 180px; }
.menu-item-depth-7 { margin-left: 210px; }
.menu-item-depth-8 { margin-left: 240px; }
.menu-item-depth-9 { margin-left: 270px; }
.menu-item-depth-10 { margin-left: 300px; }
.menu-item-depth-11 { margin-left: 330px; }

.menu-item-depth-0 .menu-item-transport { margin-left: 0px; }
.menu-item-depth-1 .menu-item-transport { margin-left: -30px; }
.menu-item-depth-2 .menu-item-transport { margin-left: -60px; }
.menu-item-depth-3 .menu-item-transport { margin-left: -90px; }
.menu-item-depth-4 .menu-item-transport { margin-left: -120px; }
.menu-item-depth-5 .menu-item-transport { margin-left: -150px; }
.menu-item-depth-6 .menu-item-transport { margin-left: -180px; }
.menu-item-depth-7 .menu-item-transport { margin-left: -210px; }
.menu-item-depth-8 .menu-item-transport { margin-left: -240px; }
.menu-item-depth-9 .menu-item-transport { margin-left: -270px; }
.menu-item-depth-10 .menu-item-transport { margin-left: -300px; }
.menu-item-depth-11 .menu-item-transport { margin-left: -330px; }

body.menu-max-depth-0 { min-width: 950px !important; }
body.menu-max-depth-1 { min-width: 980px !important; }
body.menu-max-depth-2 { min-width: 1010px !important; }
body.menu-max-depth-3 { min-width: 1040px !important; }
body.menu-max-depth-4 { min-width: 1070px !important; }
body.menu-max-depth-5 { min-width: 1100px !important; }
body.menu-max-depth-6 { min-width: 1130px !important; }
body.menu-max-depth-7 { min-width: 1160px !important; }
body.menu-max-depth-8 { min-width: 1190px !important; }
body.menu-max-depth-9 { min-width: 1220px !important; }
body.menu-max-depth-10 { min-width: 1250px !important; }
body.menu-max-depth-11 { min-width: 1280px !important; }


.postbox {
  border: 1px solid #E6E6E6;
  background: #E6E6E6;/* old browsers */
  background: -moz-linear-gradient(left, #E6E6E6 0%, #F3F3F3 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E6E6E6), color-stop(100%,#F3F3F3));
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.postbox h3 {
  color: black;
  padding-left: 5px;
}

.postbox .inside {
  background-color: white;
  padding: 5px 7px;
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
}

.postbox .inside p {
  margin: 0 0 5px;
}

.postbox .inside input[type=text],
.postbox .inside textarea {
  width: 170px;
}

.postbox .inside input[type=submit] {
  float: none;
  margin: 0 !important;
}

.postbox .postboxcontrol {
  text-align: right;
  margin-top: 8px !important;
}